.specialized-brands {
  grid-column: full-start / full-end;
  padding: 2rem 0 5rem 0;
  background-color: $color-dark-grey-1;

  &__title {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__line {
    width: 40%;
    max-width: 55rem;
    height: 2px;
    background-color: $color-grey-light-1;
    opacity: 0.6;
  }

  &__heading {
    width: 30%;
    min-width: 30rem;
    text-align: center;
  }

  &__collection {
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    // margin: 0 auto;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) repeat(7, minmax(6rem, 1fr)) minmax(
        6rem,
        1fr
      );
    grid-template-rows: 75px;
    gap: 5vw;

    &--brand {
      align-self: center;
      justify-self: center;
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
    }

    &--brand1 {
      grid-column: 2 / span 1;
    }
    &--brand2 {
      grid-column: 3 / span 1;
    }
    &--brand3 {
      grid-column: 4 / span 1;
    }
    &--brand4 {
      grid-column: 5 / span 1;
    }
    &--brand5 {
      grid-column: 6 / span 1;
    }
    &--brand6 {
      grid-column: 7 / span 1;
    }
    &--brand7 {
      grid-column: 8 / span 1;
    }
  }
}
