.heading-1 {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  text-align: center;
}

.heading-2 {
  font-family: $font-title;
  font-weight: 500;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.35px;
  font-size: 1.8rem;

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-dark-grey-1;
  }
}

.heading-3 {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
}
.heading-4 {
  font-family: $font-primary;
  color: $color-grey-light-1;
  font-size: 3rem;
  text-transform: uppercase;
}

.heading-5 {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 2.8rem;
  color: $color-grey-light-1;
  opacity: 0.6;
}

.heading-6 {
  font-family: $font-secondary;
  font-weight: 700;
  color: $color-grey-light-1;
  letter-spacing: 0.25px;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.btn {
  background-color: $color-primary;
  font-weight: 500;
  font-style: normal;
  color: $color-grey-light-1;
  border: none;
  border-radius: 0;
  font-family: $font-primary;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 2rem 5rem rgba(#000, 0.2);
  text-align: center;

  &:hover {
    background-color: $color-primary-dark;
  }
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}
